
.home {
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    width: 100px;
    height: 100%;
    text-align: center;
    color: #fff;
    font-size: 22px;
    font-weight: bold;

    &:before {
        display: inline-block;
        content: '';
        width: 1px;
        height: 100%;
        vertical-align: middle;
    }
}